<div class="art-card">
  <a href="/painting?id={%ID%}" class="card-link">
    <div
      class="art-card-holder"
      style="width: 400px; height: 300px; overflow: hidden"
    >
      <div
        class="art-card-image"
        style="
          background-image: url({%IMAGE%});
          width: 100%;
          height: 100%;
          background-size: cover;
          background-position: center;
          cursor: pointer;
        "
      ></div>
    </div>
    <div class="art-card-description">
      <h4 class="painting-title">{%PAINTINGNAME%}</h4>
      <h4>{%ARTIST%}</h4>
    </div>
  </a>
</div>
